{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}فراموشی رمزعبور{% endblock title %}
{% block content %}

    <h2 class="card text-center card-header text-center">رمزعبور خود را فراموش کرده اید؟</h2>

    <div class="container mt-5">
        <div class="container mt-5">

            <div class="container">

                <div class="card card-body">
            <p class="text-center">آدرس ایمیلی را که با آن حساب کاربری ساخته اید وارد کنید تا ما یک ایمیل برای باز نشانی رمز عبور شما
        ارسال کنیم.</p>
                    <div class="container mt-5">
                        <form method="POST" class="text-right">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input class="btn btn-success" type="submit"
                                   value="ارسال ایمیل">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
