{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}تغییر رمزعبور{% endblock title %}
{% block content %}
    <h1>تغییر رمز عبور</h1>
    <p>لطفا برای امنیت بیشتر رمزعبورقدیمی خودرا وارد کنید، سپس رمز جدید خودرا وارد کنید، تا ما بتوانیم عملیات احراز هویت شمارا به درستی انجام دهیم.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success" type="submit"
               value="Change my password">
    </form>
{% endblock content %}
