{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}ثبت رمز جدید{% endblock title %}
{% block content %}
    <div class="container mt-5">
    <div class="container">
        <div class="card card-body bt-5">
            <h1 class="text-center">یک رمز جدید وارد کنید</h1>
    <form method="POST" class="text-right">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success" type="submit" value="ثبت رمز جدید">
    </form>
        </div>
    </div>
    </div>
{% endblock content %}
