{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}تغییر رمزعبور{% endblock title %}
{% block content %}
    <div class="container">
        <div class="container">
            <div class="card card-body mt-5 p-5">
                <h1 class="text-center">تغییر رمز عبور</h1>
                <p class="text-center">لطفا برای امنیت بیشتر رمزعبورقدیمی خودرا وارد کنید، سپس رمز جدید خودرا وارد کنید،
                    تا ما بتوانیم عملیات احراز هویت
                    شمارا به درستی انجام دهیم.</p>
                <form method="POST" class="text-right">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-warning" type="submit"
                           value="ذخیره رمز جدید">
                </form>

            </div>
            <div class="row">
                <a class="btn btn-primary m-1 col-2 " href="{% url 'password_reset' %}">فراموشی رمزعبور</a>
                <a class="btn btn-primary m-1 col-2" href="{% url 'edit_profile' %}">بازگشت</a>
            </div>
        </div>

    </div>
{% endblock content %}
