{% extends '_base.html' %}
{% block title %}ایمیل ارسال شد{% endblock title %}
{% block content %}

   <div class="container mt-5">
    <div class="d-flex justify-content-center card card-header mt-5 ">
    <h1 class="text-center">ایمیل خودرا چک کنید</h1>
    <p class="text-center">ما یک ایمیل برای بازنشانی رمز عبور شما ارسال کرده ایم.شما باید آن را در زمان کوتاهی دریافت کنید!</p>
        <div class="d-flex justify-content-center">
            <a class="  col-2 btn btn-primary password-btn" href="{% url 'login' %}">ورود</a>
        </div>
    </div>
   </div>
{% endblock content %}