{% extends '_base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock %}
{% block title %}رمز عبور تغییر کرد{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="container mt-5">
            <div class="card card-header mt-5 text-center">
                <h1 >بازنشانی رمز عبور با موفقیت انجام شد</h1>
                <p>اکنون می توانید با رمز جدید وارد شوید.</p>

                <div class="">
                    <a class="btn btn-primary password-btn" href="{% url 'login' %}">ورود به سایت</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}