{% load i18n %}{% autoescape off %}
    {% blocktrans %}شما این ایمیل را به خاطر ارسال درخواست بازنشانی رمز عبور در کتاب فروشی میوه چی دریافت کرده اید.
    {% endblocktrans %}
    {% trans "برای انتخاب رمز جدید روی لینک زیر کلیک کنید:" %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% trans 'ایمیل حساب کاربری ای که رمز آن را فراموش کرده اید:' %}
    {{ user.email }}
    {% trans "از اینکه مارا انتخاب کرده اید متشکریم!" %}
    {% blocktrans %}تیم کتاب فروشی میوه چی {% endblocktrans %}
{% endautoescape %}