{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/staff.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/staff_navbar.css' %}">#}
{% endblock %}
{% block title %}پنل کارمند{% endblock title %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark staff-navbar ">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" style="flex: inherit;" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       style="color: black"
                       aria-haspopup="true" aria-expanded="false">
                        تخفیف
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="{% url 'staff_add_cart_coupon' %}">سبد خرید</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'staff_add_book_cache_coupon' %}">نقدی کتاب</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'staff_add_book_percent_coupon' %}">درصدی کتاب</a>
                        <div class="dropdown-divider"></div>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       style="color: black"
                       aria-haspopup="true" aria-expanded="false">
                        کتاب
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="{% url 'staff_add_book' %}">افزودن</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'storeroom' %}">انبار</a>
                        <div class="dropdown-divider"></div>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       style="color: black"
                       aria-haspopup="true" aria-expanded="false">
                        مشتریان
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

{#                                                <a class="dropdown-item" href="{% url '' %}">سفارشات</a>#}
{#                                                <div class="dropdown-divider"></div>#}
{##}
{#                                                <a class="dropdown-item" href="{% url 'storeroom' %}">فاکتورها</a>#}
{#                                                <div class="dropdown-divider"></div>#}

                        <a class="dropdown-item" href="{% url 'customers' %}">کاربران</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>

            </ul>

        </div>
    </nav>

    {% block coupon %}
    {% endblock coupon %}
    {% block book %}

    {% endblock book %}
    {% block storeroom %}

    {% endblock storeroom %}
{% endblock content %}



