{% extends '_base.html' %}
{% block content %}
    <div class="row">
    <h1 class="text-center">سبد خرید</h1>
    <div class="col-6">
        {% block alarm %}

        {% endblock alarm%}
    </div>
    <a class="col-3" dir="rtl" href="{% url 'myfactors' %}">سفارش های من</a><br>
    </div>

    <table class="table bg-warning">
        <thead>
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col">کتاب</th>
            <th scope="col">تخفیف</th>
            <th scope="col"></th>
            <th scope="col">تعداد</th>
            <th scope="col">قیمت واحد</th>
            <th scope="col">قیمت کل</th>
            <th scope="col">تصویر</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'bookdetail' item.book.slug %}">{{ item.book.name }}</a></td>
                <td>{{ item.book.discount }}</td>
                <td><a class="btn btn-primary" href="{% url 'ordered' item.book.slug %}">افزودن برای خرید</a></td>
                <td>
                    <div class="row">
                        <form class="col-4" action="{% url 'plus_quantity' item.book.slug %}" method="post">
                        {% csrf_token %}

                        <button type="submit" class="btn btn-sm btn-outline-success sidebarCartPlus" name="plus">+
                        </button>
                    </form>
                    <span class="container col-4">{{ item.quantity }}</span>
                    <form class="col-4" action="{% url 'minus_quantity' item.book.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-danger sidebarCartRemove" name="minus">-
                        </button>
                    </form>
                    </div>
                </td>
                <td>{{ item.book.price }}<span>تومان</span></td>
                <td>{{ item.total_price }}</td>
                <td><img style="height:59px;width: 40px" src="{{ item.book.image.url }}" alt="Card image cap"></td>
                <td><a class="btn btn-danger" href="{% url 'cart_remove' item.book.slug %}">حذف</a></td>
            </tr>
        {% endfor %}
        {% if cart %}
        <tr>
            <td>Total</td>
            <td colspan="4"></td>
            <td>{{ total_price_ordered }}</td>
        </tr>
         {% else %}
         <tr>
            <td>هیچ سفارشی وجود ندارد</td>
         </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'orderedcart' %}" class="btn btn-success">لیست خرید نهایی</a>
    {#{% url 'orders:create' %}#}
{% endblock %}