<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'save_coupon_to_factor' %}" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ finalized_obj_id }}" name="finalized_obj_id">
    <div class="row">
        <div class="col-4" style="background: cadetblue">
            <div class="row">
                <label class="col-6" for="1213">قیمت کل با احتساب تخفیف:</label>
                <div class="card col-6" style="background: cadetblue">
                    <input style="width: auto" id="1213" class="form-control-plaintext" type="text"
                           readonly="readonly"
                           value="{{ finalized_obj.factor_total_price }}">
                </div>
            </div>
        </div>
    </div>
    <hr>

        <label for="coupon">کد تخفیف را اینجا وارد کنید</label>
    <input class="col-2" type="text" name="coupon" id="coupon">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ثبت</button>

</form>
<form action="{% url 'success' %}" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ finalized_obj_id }}" name="finalized_obj_id">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">پرداخت</button>
</form>

<a href="{% url 'orderedcart' %}">بازگشت به سبد خرید نهایی</a>
</body>
</html>