{% extends '_base.html' %}
{% block content %}
    <h2 class="text-center">تاریخچه ثبت سفارش ها</h2>
    <div class="mt-5">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-12 col-md-7">
                    <div class="card" style="background: #f5efef;">
                        <div class="card-body">

                            {% for factor in factors %}

                                <div dir="rtl" class=" row">
                                    <div class="card-header">
                                        <span class="font-weight-bold ">شماره فاکتور {{ factor.id }}</span><br>
                                        <span class="font-weight-bold "> {{ factor.item.count }}عدد کتاب به آدرس {{ factor.shipping_address.city }}،{{ factor.shipping_address.address }} </span>
                                        <p>عناوین سفارشات:</p>
                                        {% for cart_item in factor.item.all %}
                                            <li>✔{{ cart_item.book.name }}</li>
                                        {% endfor %}
                                        <span class="font-weight-bold ">تاریخ ثبت سفارش: {{ factor.created }}</span>
                                    </div>
                                </div>
                                <br/>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <a href="{% url 'cart' %}" class="btn btn-primary">بازگشت به سبد</a><br><br>


{% endblock %}