{% extends '_base.html' %}
{#{% load static %}#}

{% block links %}

{% endblock %}

{% block content %}
    <h1 class="text-center">خرید نهایی</h1>

    <table class="table  bg-info table-hover">
        <thead>
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col">کتاب</th>
            <th scope="col">تخفیف</th>
            <th scope="col"></th>
            <th scope="col">تعداد</th>
            <th scope="col">قیمت واحد</th>
            <th scope="col">قیمت کل</th>
            <th scope="col">تصویر</th>
        </tr>
        </thead>
        <tbody>
        {% for item in ordered %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.book.name }}</td>
                <td>{{ item.book.discount }}</td>
                <td><a class="btn btn-primary" href="{% url 'unordered' item.book.slug %}">برگرداندن به سبد</a></td>
                <td>{{ item.quantity }}<span>عدد</span></td>

                <td>{{ item.book.total_price }}<span>تومان</span></td>
                <td>{{ item.total_price }}</td>
                <td><img style="height:59px;width: 40px" src="{{ item.book.image.url }}" alt="Card image cap"></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>


    <hr>

    <form class="" method="post" action="{% url 'create_factor' %}">
        {% csrf_token %}
        {% if ordered %}
            <div class="row">
                <div class="col-3" style="background: #5b80b2">
                    <div class="row">
                        <label class="col-6" for="10987a">قیمت کل بدون تخفیف:</label>
                        <div class="card col-6" style="background: #5b80b2">
                            <input style="width: auto" id="10987a" class="form-control-plaintext " type="number"
                                   name="price" readonly="readonly" value="{{ total_price_ordered }}">تومان
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% else %}

            هیچ سفارشی وجود ندارد

        {% endif %}

        <select class="form-select form-select-sm input-large" name="address_select" style="width:auto;">
            {% for address in addresses %}
                <option value="{{ address.id }}">{{ address.city }}، {{ address.address }}</option>
            {% endfor %}
        </select><br><br>
        <a href="{% url 'cart' %}" class="btn btn-primary col-1">بازگشت به سبد</a>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ثبت کدتخفیف و پرداخت</button>
    </form>


{% endblock %}