{% extends '_base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
{% endblock %}
{% block title %}
    کتاب
{% endblock title %}
{% block content %}
    <!-- product -->
    <div class="mt-5">
        <div class="container">
            <div class="container">
                <div class="article-entry">
                    <div class="product-content product-wrap clearfix product-deatil">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="product-image">
                                    <div class="item active">
                                        <img src="{{ object.image.url }}" class="img-responsive"
                                             style="width: 300px;height: 400px" alt=""/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12 text-right">
                                <h2 class="name">
                                    {{ object.name }}
                                    <h5>نویسنده: <span>{{ object.author }}</span></h5>

                                </h2>
                                <hr/>
                                {% if book.bookcashcoupon_set.all %}
                                    <del class="price-container" style="color: darkgray">
                                        <span>{{ book.price }}</span><span>هزارتومان</span>
                                    </del>
                                    <span class="tag1"></span>
                                    <p class="price-container">
                                        <span>{{ book.total_price }}</span><span>هزارتومان</span>
                                    </p>
                                    <span class="tag1"></span>
                                {% elif book.bookcashcoupon_set.all %}
                                    <del class="price-container" style="color: darkgray">
                                        <span>{{ book.price }}</span><span>هزارتومان</span>
                                    </del>
                                    <span class="tag1"></span>
                                    <p class="price-container">
                                        <span>{{ book.total_price }}</span><span>هزارتومان</span>
                                    </p>
                                    <span class="tag1"></span>
                                {% else %}
                                    <p class="price-container">
                                        <span>{{ book.price }}</span><span>هزارتومان</span>
                                    </p>
                                    <span class="tag1"></span>
                                {% endif %}

                                <hr/>
                                <div class="description description-tabs">
                                    <div id="myTabContent" class="tab-content">
                                        <div class="" id="more-information">
                                            <br/>
                                            <h3>درباره ی کتاب</h3>
                                            <p>
                                                {{ object.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        {% if book.stock %}
                                                <a href="{% url 'add_to_cart' book.slug %}"
                                                   class="btn btn-success btn-lg">افزودن به سبد
                                                    خرید
                                                </a>
                                        {% else %}
                                            <h3>ناموجود</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product -->
{% endblock content %}