{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static 'cart.css' %}">
{% endblock %}
{% block title %}سبد خرید من{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
    <div class="row">
        <div class="container ">
            <div class="container mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'cart' %}">سبد خرید</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'next_cart' %}">لیست خرید بعدی</a>
                    </li>

                </ul>
                <div class="card card-body storeroom">
                    <div class="container pb-5 mt-n2 mt-md-n3">
                        <div class="row">
                            <div class="col-xl-9 col-md-8">
                                <h2 style="background: #FFDFD3 !important;border-radius: 10px;"
                                    class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary">
                                    <span>کتاب ها</span></h2>

                                {% if my_items %}


                                    {% for item in my_items %}
                                        <!-- Item-->
                                        <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
                                            <div class="media d-block d-sm-flex text-center text-sm-left">
                                                <div class="cart-item-thumb mx-auto mr-sm-4" href=""><img height="240px"
                                                                                                          width="200px"
                                                                                                          src="{{ item.book.image.url }}"
                                                                                                          alt="Product">
                                                </div>
                                                <div class="media-body pt-3 text-right pr-4">
                                                    <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a
                                                            href="{% url 'book_detail' item.book.slug %}">{{ item.book.name }}</a>
                                                    </h3>
                                                    <div class="font-size-sm"><span
                                                            class="text-muted mr-2">نویسنده:</span>{{ item.book.author }}
                                                    </div>
                                                    {% if item.book.bookpercentcoupon_set.all %}
                                                        <div class="font-size-lg text-primary pt-2">
                                                            <del>{{ item.book.price }}</del>&nbsp;<span>تومان</span>
                                                        </div>
                                                        <div class="h4 text-primary pt-2">
                                                            <span>{{ item.book.total_price }}</span>&nbsp;<span>تومان</span>
                                                        </div>
                                                    {% elif item.book.bookcashcoupon_set.all %}
                                                        <div class="font-size-lg text-primary pt-2">
                                                            <del>{{ item.book.price }}</del>&nbsp;<span>تومان</span>
                                                        </div>
                                                        <div class="h4 text-primary pt-2">
                                                            <span>{{ item.book.total_price }}</span>&nbsp;<span>تومان</span>
                                                        </div>
                                                    {% else %}
                                                        <div class="h4 text-primary pt-2">
                                                            <span>{{ item.book.total_price }}</span>&nbsp;<span>تومان</span>
                                                        </div>

                                                    {% endif %}
                                                </div>
                                            </div>
                                            <form action="{% url 'quantity' item.book.slug %}" method="post">
                                                {% csrf_token %}
                                                <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left"
                                                     style="max-width: 10rem;">
                                                    <div class="form-group text-right mb-2">
                                                        <label for="quantity1">تعداد</label>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xs-3 col-xs-offset-3">
                                                                    <div class="input-group number-spinner">

                                                                        <button name="plus_quantity" type="submit"
                                                                                class="btn btn-default" data-dir="dwn">
                                                                            <i class="fas fa-plus"></i></button>
                                                                        <input readonly="readonly" type="text"
                                                                               class="form-control text-center"
                                                                               value="{{ item.quantity }}">
                                                                        <button name="minus_quantity" type="submit"
                                                                                class="btn btn-default" data-dir="up"><i
                                                                                class="fas fa-minus"></i></button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url 'cart_remove' item.book.slug %}"
                                                       class="btn btn-danger btn-sm btn-block mb-2">حذف</a>
                                                    <a href="{% url 'add_to_next_cart' item.book.slug %}"
                                                       class="btn btn-warning btn-sm btn-block mb-2"><p
                                                            style="font-size: 12px;padding-top: 11px">ذخیره درلیست خرید
                                                        بعدی</p></a>

                                                </div>
                                            </form>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class=""><img height = "-moz-available;" src="{% static 'images/empty-cart.png' %}" alt=""></div>
                                {% endif %}


                            </div>
                            <!-- Sidebar-->
                            <div class="col-xl-3 col-md-4 pt-3 pt-md-0">
                                <form class="" method="post" action="{% url 'payment' %}">
                                    {% csrf_token %}
                                    <h2 style="background: #D291BC !important;border-radius: 10px;"
                                        class="h6 px-4 py-3 bg-secondary text-center">قیمت نهایی</h2>
                                    {% if my_items %}
                                        <div class="form-group text-right">
                                            <label for="exampleFormControlSelect1">انتخاب آدرس</label>
                                            <select class="form-control" id="exampleFormControlSelect1"
                                                    name="address_select">
                                                {% for address in addresses %}
                                                    <option value="{{ address.id }}">{{ address.city }}، {{ address.address }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                        <br>
                                        <input style="padding-right: 20px" type="text" readonly="readonly"
                                               class=" font-weight-semibold text-center py-3"
                                               value="{{ total_price_factor }}" name="price"/><br>
                                        <button class="btn btn-danger btn-block" type="submit" style="margin-top: 15px">
                                            ثبت کد تخفیف و پرداخت
                                        </button>
                                    {% else %}

                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}

