{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title %}ویرایش پروفایل{% endblock title %}
{% block content %}
    <h2>ویرایش مشخصات</h2>
    <form method="post" class="form-control col-md-auto">
        {% csrf_token %}
        {{ form.first_name | as_crispy_field }}
        {{ form.last_name | as_crispy_field }}
        {{ form.national_code | as_crispy_field }}
        <button type="submit" class="btn">ویرایش</button>
    </form>
    <div class="row">

        <a class="btn btn-primary m-1 col-2" href="{% url 'password_change' %}">تغییر پسوورد</a><br>
        <a class="btn btn-primary m-1 col-2" href="{% url 'my_addresses' %}">آدرس های من</a>
        <a href="{% url 'home' %}" class="btn btn-primary m-1 col-2">بازگشت</a>
    </div>

{% endblock content %}