{% extends '_base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block title %}
    آدرس های من
{% endblock title %}
{% block content %}
     <h2 class="card card-body text-center">آدرس های من</h2>
    <div class="container">
        <div class="container mt-3">
            <div class="card card-body storeroom">
                <table class="table table-hover text-right">
                    <thead>
                    <tr>

                        <th scope="col">شهر</th>
                        <th scope="col">آدرس پستی</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for address in object %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'book_delete' book.slug %}" class="btn btn-danger">حذف</a>
                                <a href="{% url 'book_edit' book.slug %}" class="btn btn-warning">ویرایش</a>
                            </th>
                            <td class="editable">{{ object.city}}</td>
                            <td class="editable" >{{ object.address }}</td>
                            <td class="editable" ></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}